body {
    background-color: green;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}
label{
    color: white;
}
h2{
    color: white;
   text-align: center;
}
h1{
    text-align: center;
}