body {
    background-color: green;
   
    
}
form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
  
   
   
}
input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}
label{
    color: white;
   
}
h2{
    color: white;
   text-align: center;
}

.error{
    color: red;
}

